﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    38 Westwood Blvd<br />
    Keysborough, Victoria 3173<br />
    <abbr title="Phone">P:</abbr>
    0416 939 984
</address>

<address>
    <strong>Email:</strong> <a href="mailto:thanasipoulos@gmail.com">thanasipoulos@gmail.com</a><br />
</address>
