﻿@{
    ViewData["Title"] = "User Registration";
}

<div class="row">
    <div class="col-xs-12 col-sm-5">
        <form id="userForm" class="push-down">
            <div class="form-group" id="firstNameGroup">
                <label for="firstName">First Name<sup class="mandatory">*</sup></label>
                <input type="text" class="form-control input-sm" id="firstName" placeholder="First Name" />
                <small id="firstNameErr" class="text-hide validation-error">Field must contain between 1 and 10 characters</small>
            </div>
            <div class="form-group move-fg-up" id="lastNameGroup">
                <label for="lastName">Last Name<sup class="mandatory">*</sup></label>
                <input type="text" class="form-control input-sm" id="lastName" placeholder="Last Name" />
                <small id="lastNameErr" class="text-hide validation-error">Field must contain between 1 and 15 characters</small>
            </div>
            <div class="form-group move-fg-up" id="usernameGroup">
                <label for="userName">User Name<sup class="mandatory">*</sup></label>
                <input type="text" class="form-control input-sm" id="username" placeholder="User Name" />
                <small id="usernameErr" class="text-hide validation-error">Field must contain between 1 and 5 characters</small>
            </div>
            <div class="form-group move-fg-up" id="emailAddressGroup">
                <label for="emailAddress">Email Address</label>
                <input type="text" class="form-control input-sm" id="emailAddress" placeholder="myname@example.com" />
                <small id="emailAddressErr" class="text-hide validation-error">This is not an email address</small>
            </div>
            <div class="form-group move-fg-up" id="passwordGroup">
                <label for="password">Password<sup class="mandatory">*</sup></label>
                <input type="password" class="form-control input-sm" id="password" placeholder="Enter Password" />
                <small id="passwordErr" class="text-hide validation-error">Passwords must match</small>
            </div>
            <div class="form-group move-fg-up" id="passwordConfirmGroup">
                <label for="passwordConfirm">Confirm Password<sup class="mandatory">*</sup></label>
                <input type="password" class="form-control input-sm" id="passwordConfirm" placeholder="Enter Password Again" />
                <small id="passwordConfirmErr" class="text-hide validation-error">Passwords must match</small>
            </div>
            <p><sup class="mandatory">*</sup> - denotes a mandatory field</p>
            <button id="submitUser" type="submit" class="btn btn-sm btn-block btn-primary" disabled>Submit</button>
        </form>
    </div>
    <div class="col-xs-12 col-sm-7">
        <h3 class="push-down">List of Registered Users:</h3>
        <hr class="title-separator" />
        <div id="registeredUsers">
            <!--Users will be placed here upon registration-->
        </div>
    </div>
</div>