﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.title-separator {
    border-color: black;
    border-width: 2px;
}

.user-separator {
    border-color: lightgray;
}

.mandatory {
    color: red;
}

.validation-error {
    color: red;
}

.move-fg-up {
    margin-top: -10px;
}

button.pull-up {
    margin-top: -1.5em;
}

h3.push-down {
    margin-top: 10px;
}

form.push-down {
    margin-top: 10px;
}